Source: ocsstore
Section: web
Priority: optional
Maintainer: Akira Ohgaki <akiraohgaki@gmail.com>
Build-Depends: curl, git, nodejs, npm, devscripts, debhelper, fakeroot, build-essential, qt5-default (>= 5.3.0), libqt5websockets5-dev (>= 5.3.0), cmake, libssl-dev, libcurl4-gnutls-dev, libxpm-dev
Standards-Version: 3.9.4

Package: ocsstore
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libgconf-2-4, libxss1, libqt5gui5 (>= 5.3.0), libqt5websockets5 (>= 5.3.0), libqt5dbus5 (>= 5.3.0)
Description: OCS-Store
 OCS-compatible App as Electron-based frontend.
